<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musicroom">

    <!-- Dodata INTERNET dozvola -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MusicRoomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicRoom"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <!-- Home Activity -->
        <activity
            android:name=".Home"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity" />

        <!-- Forgot Password Activity -->
        <activity android:name=".ForgotPasswordActivity" />

        <!-- Change Password Activity -->
        <activity android:name=".ChangePasswordActivity" />

        <!-- Create Room Activity -->
        <activity android:name=".CreateRoomActivity" />

        <!-- Room Activity -->
        <activity android:name=".RoomActivity" />

        <activity android:name=".JoinRoomActivity" />

        <service android:name=".MusicService" android:exported="false" />

        <!--<activity android:name=".RoomCreatorActivity" />
        <activity android:name=".RoomGuestActivity" />
        -->
    </application>
</manifest>
